# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
*.egg-info/
dist/
build/

# Unit test / coverage reports
.pytest_cache/
.hypothesis/


# checkpoints
workdir*/


CLAUDE.md

data

cuda_kernels/

*.pt

*.png